auto-save-list
backups
*.org
*~
.places
session.*
eshell
settings
emacsBackupNewest
temp
jdee-2.4.1
key-chord
GPATH
GRTAGS
GSYMS
GTAGS
xkcd
\#*\#
\#*
tramp
*.clj*
*.cpp*
*.org*
*.tex*
*.pdf*
*.elc
*ede-projects*
*cedet-projects*
*projectile*
temp
backups
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
elpaBackup
*txt
Makefile
*.cpp
*.h
history
recentf
*ac-comphist*
semanticdb
ede-projects.el
/cider-history
/twitch.el
/.#twitch.el
/specifics.el
/exclusive/
/ltximg/org-ltximg_6a4a0bd2d5858b8fa59f33afb6cb4da6896327eb.png
/ltximg/org-ltximg_8f518fb8a13f7d27ae827cb70c764fd0375eadae.png
/abbrev_defs
/bookmarks
/config.el
/ido.last
/network-security.data
/places_
save 
/snippets/org-mode/olim
