[submodule "fonts"]
	path = neotree_fonts
	url = https://github.com/domtronn/all-the-icons.el/
[submodule "dwc-org-misc"]
	path = org-misc
	url = https://www.github.com/dwcoates/org-misc
[submodule "dwc-smartparens"]
	path = smartparens
	url = https://github.com/dwcoates/smartparens
[submodule "goodies"]
	path = goodies
	url = https://www.github.com/dwcoates/goodies
