[submodule "OfficeCodeProFont"]
	path = Office-Code-Pro
	url = https://github.com/nathco/Office-Code-Pro
[submodule "goodies"]
	path = lisp/goodies
	url = git@github.com:dwcoates/goodies.git
[submodule "org-misc"]
	path = lisp/org-misc
	url = git@github.com:dwcoates/org-misc.git
[submodule "helm-dictionary"]
	path = lisp/helm-dictionary
	url = git@github.com:dwcoates/helm-dictionary.git
[submodule "atchka-org-theme"]
	path = lisp/atchka-org-theme
	url = git@github.com:dwcoates/atchka-org-theme.git
