auto-save-list
backups
*.org
*~
.places
session.*
eshell
elpa
settings
emacsBackupNewest
temp
jdee-2.4.1
key-chord
GPATH
GRTAGS
GSYMS
GTAGS
xkcd
*.elc
*ede-projects*
*cedet-projects*
*projectile*
temp
backups
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
elpa
elpaBackup
*txt
Makefile
*.cpp
*.h
history
recentf
*ac-comphist*
semanticdb
ede-projects.el
