[submodule "OfficeCodeProFont"]
	path = Office-Code-Pro
	url = https://github.com/nathco/Office-Code-Pro
[submodule "org-misc"]
	path = lisp/org-misc
	url = git@github.com:dwcoates/org-misc.git
[submodule "helm-dictionary"]
	path = lisp/helm-dictionary
	url = git@github.com:dwcoates/helm-dictionary.git
[submodule "atchka-org-theme"]
	path = lisp/atchka-org-theme
	url = git@github.com:dwcoates/atchka-org-theme.git
[submodule "org-capture-builder"]
	path = lisp/org-capture-builder
	url = https://github.com/dwcoates/org-capture-builder
